# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=crlf
*.c text
*.h text
*.dll binary
*.DLL binary
*.bmp binary
*.hlp binary
*.wri binary
*.nrc binary
*.NRC binary
w/bin/**/* binary
a/bin/sys/* binary
w/libr/**/* binary
w/libz/**/* binary